#projectsContainer {
  background-image: url(./../../assets/projectsBackground.svg);
  /*background by https://www.svgbackgrounds.com/*/
  color: var(--third);
  width: 100vw;
  padding-bottom: 4vh;
}

#projectsPresentationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projectsTitle {
  font-size: 3rem;
  font-weight: 600;
}

#projectsPresentation {
  word-wrap: break-word;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 2vh 2vw;
  background-color: rgba(130, 98, 81, 0.75);
  border-radius: 8px;
}

@media (max-width: 500px) {
  #projectsTitle {
    font-size: 2rem;
  }

  #projectsPresentation {
    font-size: 0.75rem;
    margin-bottom: 0;
  }
}
