#description {
  scroll-snap-align: start;
  margin-top: 10vh;
  color: var(--third);
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./../../assets/firstPageBackground.svg);
  /* background by SVGBackgrounds.com */
  background-position: center;
  background-size: cover;
}

#firstPageText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20vh;
  background-color: rgba(130, 98, 81, 0.5);
}

#descriptionH2 {
  font-size: 5rem;
  margin-bottom: 5vh;
  animation: entry-up 0.8s ease-in-out;
  text-shadow: 2px 7px 5px rgba(0, 0, 0), 0px -4px 10px rgba(255, 255, 255, 0.1);
}

#descriptionH3 {
  font-size: 3.5rem;
  color: var(--secondary);
  animation: entry-down 0.8s ease-in-out;
  text-shadow: 2px 7px 5px rgba(0, 0, 0), 0px -4px 10px rgba(255, 255, 255, 0.1);
}

@keyframes entry-up {
  0% {
    transform: translateY(-5vw);
    opacity: 0;
  }
}

@keyframes entry-down {
  0% {
    transform: translateY(5vw);
    opacity: 0;
  }
}

#descriptionArrowDown {
  color: var(--third);
  position: absolute;
  left: 50vw;
  transform: translate(-50%, -50%);
  bottom: 5vh;
  height: 8vh;
  width: 6vw;
  transition: 0.3s;
  cursor: pointer;
}

#descriptionArrowDown:hover {
  color: var(--secondary);
  transition: 0.3s;
  transform: translate(-50%, -20%);
}

#descriptionArrowUp {
  color: var(--third);
  z-index: 999;
  position: fixed;
  right: 2vw;
  transform: translate(-50%, -50%);
  background-color: var(--black);
  padding: 0.5vh;
  border-radius: 50%;
  bottom: 5vh;
  height: 8vh;
  width: 8vh;
  transition: 0.3s;
  cursor: pointer;
}

#descriptionArrowUp:hover {
  color: var(--secondary);
  transition: 0.3s;
  transform: translate(-50%, -70%);
}

@media (max-width: 800px) {
  #descriptionH2 {
    font-size: 3rem;
    margin-bottom: 10vh;
  }

  #descriptionH3 {
    font-size: 2rem;
  }

  #descriptionArrowUp {
    border: 5px;
  }
}

@media (max-width: 500px) {
  #descriptionH2 {
    font-size: 2.5rem;
  }

  #descriptionH3 {
    font-size: 1.5rem;
  }

  #descriptionArrowUp {
    border-radius: 0;
    background-color: rgba(20, 33, 61, 0.5);
    height: 5vh;
  }
}

@media (max-width: 500px) {
  #descriptionH2 {
    font-size: 2.4rem;
  }

  #descriptionH3 {
    font-size: 1.4rem;
  }

  #descriptionArrowUp {
    border-radius: 0;
    background-color: rgba(20, 33, 61, 0.5);
    height: 5vh;
  }
}
