#navbar {
  width: 100vw;
  height: 10vh;
  background: linear-gradient(to top, var(--primary) 80%, var(--black));
  color: var(--secondary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  border-bottom: 1px solid var(--black);
  z-index: 999;
}

.navbarIcons {
  height: 10vh;
  vertical-align: middle;
  width: 7vw;
}

#navbarTitle {
  font-size: 2.5rem;
  margin-left: 10vw;
}

#navbarUl {
  display: flex;
  gap: 2vw;
}

.navbarLinks {
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: inset 0 0 0 0 var(--secondary);
  color: var(--secondary);
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-decoration: none;
  /* text-shadow: 0px 2px 5px var(--black); */
  cursor: pointer;
}

.navbarLinks:hover {
  box-shadow: inset 100px 0 0 0 var(--secondary);
  color: var(--primary);
}

#hamburgerMenu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.navbarLi {
  display: flex;
  align-items: center;
}

.navbarLiIcons {
  display: none;
  margin-right: 2vw;
  width: 8vw;
  height: 4vh;
}

.hamburgerMenuLines {
  width: 12vw;
  height: 0.8vh;
  background: var(--secondary);
  border-radius: 8px;
}

#navbarUlsmall {
  display: none;
}

@media (max-width: 500px) {
  #hamburgerMenu {
    display: flex;
    width: 6vw;
    height: 5vh;
  }

  .hamburgerMenuLines {
    width: 10vw;
  }

  #navbarUl {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 15vh;
    width: 100vw;
    height: 30vh;
    align-items: center;
    justify-content: space-around;
    background-color: var(--black);
  }

  #navbarUlsmall {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    width: 100vw;
    height: 30vh;
    align-items: center;
    justify-content: space-around;
    background-color: var(--black);
  }

  .navbarLiIcons {
    display: block;
  }
}
