:root {
  --black: #181818;
  --primary: #14213d;
  --secondary: #fca311;
  --third: #e5e5e5;
}

#footer {
  width: 100vw;
  height: 10vh;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

#footerP {
  font-size: 1.5rem;
  color: var(--third);
  margin-right: 1vw;
}

#footerTextContainer {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#copyrightIcon {
  width: 4vw;
  height: 4vh;
  color: var(--third);
}

@media (max-width: 800px) {
  #footerP {
    font-size: 0.8rem;
  }

  #copyrightIcon {
    width: 2vw;
    height: 2vh;
  }
}
