:root {
  --black: #181818;
  --primary: #14213d;
  --secondary: #fca311;
  --third: #e5e5e5;
}

#profile {
  height: 45vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0px 0px 50px 20px var(--primary);
}

#profileH4 {
  align-self: center;
  margin: 4vh 0;
  font-size: 2.5rem;
}

#profilePcontainer {
  display: flex;
  align-items: center;
}

#profileP {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 2vw;
  text-align: center;
}

#profileP span {
  font-weight: 700;
  color: var(--primary);
}
