:root {
  --black: #181818;
  --primary: #14213d;
  --secondary: #fca311;
  --third: #e5e5e5;
}

#skillsContainer {
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
}

#skillsIconContainer {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
}

#skillsTitle {
  margin: 2vh 0;
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondary);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 1);
}

.skill {
  color: var(--third);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 30vh;
}

.skillsIcon {
  height: 10vh;
  width: 10vw;
}

.html-icon {
  animation: htmlBounce 8s infinite ease-in;
}

.css-icon {
  animation: cssBounce 8s 2s infinite ease-in;
}

.javascript-icon {
  animation: javascriptBounce 8s 4s infinite ease-in;
}

.react-icon {
  animation: reactBounce 8s 6s infinite ease-in;
}

.skillsP {
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 1);
}

.skillsP:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.htmlP::after {
  background-color: #e34c26;
}

.cssP::after {
  background-color: #264de4;
}

.jsP::after {
  background-color: #f0db4f;
}

.reactP::after {
  background-color: #61dbfb;
}

.skillsP:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes htmlBounce {
  8% {
    transform: translateY(-1vh);
    color: #e34c26;
  }

  16% {
    transform: translateY(1vh);
  }

  25% {
    transform: translateY(0);
    color: white;
  }
}

@keyframes cssBounce {
  8% {
    transform: translateY(-1vh);
    color: #264de4;
  }

  16% {
    transform: translateY(1vh);
  }

  25% {
    transform: translateY(0);
    color: white;
  }
}

@keyframes javascriptBounce {
  8% {
    transform: translateY(-1vh);
    color: #f0db4f;
  }

  16% {
    transform: translateY(1vh);
  }

  25% {
    transform: translateY(0);
    color: white;
  }
}

@keyframes reactBounce {
  8% {
    transform: translateY(-1vh);
    color: #61dbfb;
  }

  16% {
    transform: translateY(1vh);
  }

  25% {
    transform: translateY(0);
    color: white;
  }
}

@media (max-width: 500px) {
  #skillsTitle {
    font-size: 1.5rem;
  }

  .skillsP {
    font-size: 1rem;
  }
}
