#firstPage {
  height: 100vh;
  background-image: url(./firstpagebackground.svg);
  /* background by SVGBackgrounds.com */
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.descriptionContainer {
  position: relative;
  height: 85vh;
  width: 100vw;
}
